{% extends "base.html" %}
{% block content %}

<h1 class="mt-4 mb-3">Admin Panel</h1>

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#shows">Shows</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cinemas">Cinemas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Movie">Movie</a>
    </li>
</ul>

<div class="tab-content">

    <h2>Add Show</h2>
    <form method="post" action="{{ url_for('admin') }}">
        {{ show_form.hidden_tag() }}
        <div class="form-group">
            {{ show_form.venue_id.label(class_="form-control-label") }}
            {{ show_form.venue_id(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ show_form.movie_id.label(class_="form-control-label") }}
            {{ show_form.movie_id(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ show_form.date.label(class_="form-control-label") }}
            {{ show_form.date(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ show_form.time.label(class_="form-control-label") }}
            {{ show_form.time(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ show_form.ticket_price.label(class_="form-control-label") }}
            {{ show_form.ticket_price(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Add Show</button>
    </form>


    <hr>

    <h2>Add Cinema</h2>
    <form method="post" action="{{ url_for('admin') }}">
        {{ cinema_form.hidden_tag() }}
        <div class="form-group">
            {{ cinema_form.name.label(class_="form-control-label") }}
            {{ cinema_form.name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ cinema_form.place.label(class_="form-control-label") }}
            {{ cinema_form.place(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ cinema_form.capacity.label(class_="form-control-label") }}
            {{ cinema_form.capacity(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ cinema_form.image_url.label(class_="form-control-label") }}
            {{ cinema_form.image_url(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ cinema_form.description.label(class_="form-control-label") }}
            {{ cinema_form.description(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Add Cinema</button>
    </form>

    <hr>

    <h2>Add New Movie</h2>

  <form method="POST">
    {{ movie_form.hidden_tag() }}

    <div class="form-group">
      {{ movie_form.name.label }}
      {{ movie_form.name(class="form-control") }}
      {% for error in movie_form.name.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ movie_form.genere.label }}
      {{ movie_form.genere(class="form-control") }}
      {% for error in movie_form.genere.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ movie_form.director.label }}
      {{ movie_form.director(class="form-control") }}
      {% for error in movie_form.director.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ movie_form.cast.label }}
      {{ movie_form.cast(class="form-control") }}
      {% for error in movie_form.cast.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ movie_form.synopsis.label }}
      {{ movie_form.synopsis(class="form-control") }}
      {% for error in movie_form.synopsis.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ movie_form.duration.label }}
      {{ movie_form.duration(class="form-control") }}
      {% for error in movie_form.duration.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ movie_form.release_date.label }}
      {{ movie_form.release_date(class="form-control") }}
      {% for error in movie_form.release_date.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ movie_form.rating.label }}
      {{ movie_form.rating(class="form-control") }}
      {% for error in movie_form.rating.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      <label for="poster">Movie Poster</label>
      <input type="file" class="form-control-file" id="poster" name="poster">
    </div>

    <br>
    <div class="form-group">
      {{ movie_form.submit(class="btn btn-primary") }}
    </div>
  </form>

    <h2>Cinemas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Seating Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cinema in cinemas %}
                <tr>
                    <td>{{ cinema.id }}</td>
                    <td>{{ cinema.name }}</td>
                    <td>{{ cinema.location }}</td>
                    <td>{{ cinema.seating_capacity }}</td>
                    <td>
                        <a href="{{ url_for('edit_cinema', id=cinema.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_cinema', id=cinema.id) }}" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h2>Shows</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Venue</th>
                <th>Movie</th>
                <th>Date</th>
                <th>Time</th>
                <th>Ticket Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for show in shows %}
                <tr>
                    <td>{{ show.id }}</td>
                    <td>{{ show.cinema.name }}</td>
                    <td>{{ show.movie.name }}</td>
                    <td>{{ show.date }}</td>
                    <td>{{ show.time }}</td>
                    <td>{{ show.ticket_price }}</td>
                    <td>
                        <a href="{{ url_for('edit_show', id=show.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_show', id=show.id) }}" class="btn btn-danger">Delete</a>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <hr>

    
    <h2>Movies</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Genere</th>
                <th>Director</th>
                <th>Cast</th>
                <th>Synopsis</th>
                <th>Duration</th>
                <th>Release Date</th>
                <th>Ratings</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.name }}</td>
                    <td>{{ movie.genere }}</td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.cast }}</td>
                    <td>{{ movie.synopsis }}</td>
                    <td>{{ movie.duration }}</td>
                    <td>{{ movie.release_date }}</td>
                    <td>{{ movie.rating }}</td>
                    <td>
                        <a href="{{ url_for('edit_movie', id=movie.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_movie', id=movie.id) }}" class="btn btn-danger">Delete</a>
                </tr>
            {% endfor %}
        </tbody>

    {% endblock %}