{% extends "base.html" %}
{% block content %}

<h1 class="mt-4 mb-3">Admin Panel</h1>

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="{{ url_for('add_show')}}">Shows</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="{{ url_for('add_cinema')}}">Cinemas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="{{ url_for('add_movie')}}">Movie</a>
    </li>
</ul>

<div class="tab-content">


    <h2>Cinemas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Seating Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cinema in cinemas %}
                <tr>
                    <td>{{ cinema.id }}</td>
                    <td>{{ cinema.name }}</td>
                    <td>{{ cinema.location }}</td>
                    <td>{{ cinema.seating_capacity }}</td>
                    <td>
                        <a href="{{ url_for('edit_cinema', id=cinema.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_cinema', id=cinema.id) }}" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>


    <h2>Shows</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Venue</th>
                <th>Movie</th>
                <th>Date</th>
                <th>Time</th>
                <th>Ticket Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for show in shows %}
                <tr>
                    <td>{{ show.id }}</td>
                    <td>{{ show.cinema.name }}</td>
                    <td>{{ show.movie.name }}</td>
                    <td>{{ show.date }}</td>
                    <td>{{ show.time }}</td>
                    <td>{{ show.ticket_price }}</td>
                    <td>
                        <a href="{{ url_for('edit_show', id=show.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_show', id=show.id) }}" class="btn btn-danger">Delete</a>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <hr>

    
    <h2>Movies</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Genere</th>
                <th>Director</th>
                <th>Cast</th>
                <th>Synopsis</th>
                <th>Duration</th>
                <th>Release Date</th>
                <th>Ratings</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.name }}</td>
                    <td>{{ movie.genere }}</td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.cast }}</td>
                    <td>{{ movie.synopsis }}</td>
                    <td>{{ movie.duration }}</td>
                    <td>{{ movie.release_date }}</td>
                    <td>{{ movie.rating }}</td>
                    <td>
                        <a href="{{ url_for('edit_movie', id=movie.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_movie', id=movie.id) }}" class="btn btn-danger">Delete</a>
                </tr>
            {% endfor %}
        </tbody>
</div>
    {% endblock %}