{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1>Welcome to Book My Show!</h1>
  <p class="lead">Find your favorite movies and book your tickets online.</p>
  <hr class="my-4">
  <p>Get the best movie experience with Book My Show.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


<!-- Movies section -->
<section id="movies" class="mt-5">
  <div class="container">
    <h2 class="mb-4">Movies</h2>
    <div class="row">
      {% for movie in movies %}
      <div class="col-md-3">
        <div class="card mb-4">
          <img class="card-img-top" src="{{ movie.image_url }}" alt="{{ movie.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            <p class="card-text">{{ movie.synopsis }}</p>
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}