{% extends "base.html" %}

{% block content %}
  <head>
    <title>{{ movie.name }}</title>
  </head>
  <body>
    <h1>{{ movie.name }}</h1>
    <p>{{ movie.description }}</p>
    <p><strong>Director:</strong> {{ movie.director }}</p>
    <p><strong>Cast:</strong> {{ movie.cast }}</p>
    <p><strong>Duration:</strong> {{ movie.duration }} mins</p>
    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
    <p><strong>Tags:</strong> {{ movie.tags }}</p>
    <p><strong>Rating:</strong> {{ movie.rating }}</p>


  </body>


{% endblock %}
