

  {% extends 'base.html' %}

  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          <h2>{{ movie.name }}</h2>
          <p>{{ movie.genre }}</p>
          <p>Cast: {{ movie.cst }} min</p>
        </div>
      </div>
      <hr>
      <h3>Showtimes:</h3>
      <ul>
        {% for showtime in showtimes %}
          <li>{{ showtime.time.strftime('%Y-%m-%d %H:%M:%S') }} - {{ show.venue.name }}</li>
        {% endfor %}
      </ul>

    </div>
  {% endblock %}
  
  