

  {% extends 'base.html' %}

  {% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src="{{ movie.image_url }}" alt="{{ movie.name }}">
        </div>
        <div class="col-md-8">
            <h1>{{ movie.name }}</h1>
            <p>{{ movie.director }}</p>
            <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
            <p><strong>Genre:</strong> {{ movie.genre }}</p>
            <p><strong>Rating:</strong> {{ movie.rating }} / 10</p>
        </div>
    </div>
</div>
  {% endblock %}
  
  